version: "3.8"

services:
  parada-service:
    build: .
    container_name: parada_service
    environment:
      DB_HOST: inte4_mysql
      DB_PORT: 3306
      DB_NAME: parada
      DB_USER: integrador
      DB_PASSWORD: integrador123
    depends_on:
      - mysql
    networks:
      - inte4_net
    ports:
      - "8083:8080"
    restart: unless-stopped

networks:
  inte4_net:
    external: true

