version: "3.8"

services:
  cuenta-service:
    build: .
    container_name: cuenta_service
    environment:
      DB_HOST: inte4_mysql
      DB_PORT: 3306
      DB_NAME: cuenta
      DB_USER: integrador
      DB_PASSWORD: integrador123
    depends_on:
      - mysql
    networks:
      - inte4_net
    ports:
      - "8084:8080"
    restart: unless-stopped

networks:
  inte4_net:
    external: true
