services:
  mysql:
    image: mysql:8.0
    container_name: inte4_cuenta
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cuenta
      MYSQL_USER: integrador
      MYSQL_PASSWORD: integrador123
    ports:
      - "3309:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./database_setup.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
